<p style="color: green"><%= notice %></p>

<%= render @group_operacion %>

<div>
  <%= link_to "Edit this group operacion", edit_group_operacion_path(@group_operacion) %> |
  <%= link_to "Back to group operacions", group_operacions_path %>

  <%= button_to "Destroy this group operacion", @group_operacion, method: :delete %>
</div>
